@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply box-border;
  }
  body {
    background-color: #f8fafc;
    font-family: "Inter", system-ui, sans-serif;
    @apply text-gray-900;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
